Django==5.2
djangorestframework==3.15.2
django-cors-headers==4.4.0
Pillow==10.4.0
supabase==2.9.1
django-extensions==3.2.3
django-admin-interface==0.28.8
gunicorn==23.0.0
dj-database-url==2.2.0
psycopg2-binary==2.9.9
whitenoise==6.7.0
python-decouple==3.8
coreapi==2.3.3
coreschema==0.0.4
resend>=0.7.0
