<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar cuenta</title>
    <link rel="stylesheet" href="{% static 'autenticacion/register.css' %}">
</head>
<body>
    <div class="register-container">
        <div class="register-box">
            <div class="logo">
                <img src="{% static 'autenticacion/logo.png' %}" alt="Logo">
            </div>
            <h1>Registrar cuenta</h1>
            <p>¡Casi listo!<br>Continuemos con la creación de tu contraseña.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">Crear Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Crear Contraseña" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmar Contraseña</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Contraseña" required>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="terms" name="terms" required>
                    <label for="terms">Acepto términos de servicios y condiciones</label>
                </div>
                <button type="submit" class="btn">Registrar</button>
            </form>
        </div>
    </div>
</body>
</html>